.me {
  text-align: center;
  margin-top: 120px;
}
.pic {
  width: 200px;
}
.about-me {
  margin: 0px 325px;
}

.header {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 35px;
}

.header2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 70px;
}
p {
  font-size: 1.5rem;
  color: #3b3b3b;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.things {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px 0px 325px;
}
.subhead {
  font-size: 1.8rem;
  font-weight: 600;
}

.json {
  text-align: center;
  width: 250px;
}
.subpara {
  font-size: 1.3rem;
  margin-bottom: 0px;
}
