.me {
  text-align: center;
  margin-top: 60px;
}
.pic {
  width: 220px;
}

.header {
  font-size: 2.1rem;
  font-weight: 600;
  margin-top: 60px;
}

.header1 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-top: 0px;
}

.header2 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-top: 60px;
}
.about-me-bottom {
  margin-bottom: 100px;
}

p {
  font-size: 1.4rem;
  color: #3b3b3b;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.things {
  display: flex;
  justify-content: space-between;
}
.subhead {
  font-size: 1.8rem;
  font-weight: 600;
}

.json {
  text-align: center;
  width: 200px;
}
.subpara {
  font-size: 1.4rem;
  margin-bottom: 0px;
}
.right {
  margin-top: 50px;
}
.about-me {
}
.section {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 300px;
  max-width: 700px;
  margin: 0 auto;
}
.link {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 1.8em;
}
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.plink {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  padding: 8px 0;
}

.plink::after {
  content: "";
  border-bottom: solid 3px #07c269;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.35s;
}
.plink:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.plink2 {
  border-bottom: #3b3b3b 0.1em solid;
  text-decoration: none;
}

.plink2:hover {
  border-bottom: #767676 0.1em solid;
  color: #767676;
}

@media screen and (max-width: 485px) {
  .things {
    flex-direction: column;
  }

  .json {
    width: auto;
  }
  .right {
    margin-right: 30px;
    margin-left: 30px;
  }
}
