h1 {
  font-size: 5em;
  color: #3c3c3c;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.1em;
  margin: 0;
  color: #3c3c3c;
  font-weight: 700;
  margin-bottom: 40px;
}

p {
  font-size: 1.4em;
  color: #8b93a3;
}

a {
  font-size: 1.4em;
}

.details {
  color: #8b93a3;
  font-weight: 400;
}

ol {
  font-weight: 300;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.hero-text {
  text-align: center;
}

.hero-subtext {
  font-size: 2.2em;
  font-weight: 400;
  font-style: italic;
  color: #b2b2b2;
}

.hero-img {
  width: 100%;
  height: auto;
}

.project-intro {
  display: flex;
}

.project-logo {
  width: 40%;
}

.intro-img {
  /* background-color: grey; */
  width: 100%;
  max-width: 400px;
  height: auto;
}

.project-brief {
  width: 60%;
  padding-left: 60px;
}

.bg-dark {
  /* color: white; */
  /* background-color: #181d34; */
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeline-head {
  font-weight: 700;
  color: #3c3c3c;
}

.chart {
  width: 100%;
}

.project-section {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-image {
  /* display: flex; */
}

.project-gif {
  text-align: center;
  width: 50%;
  height: auto;
  margin-left: 120px;
}

.two {
  text-align: center;
  width: 45%;
  height: auto;
  margin-left: 135px;
}

li {
  color: #8b93a3;
  font-size: 1.4em;
}
.project-section > *:nth-child(1) {
  width: 40%;
  top-padding: 15px;
}

.project-section > *:nth-child(2) {
  width: 60%;
  padding-left: 60px;
}
