h1 {
  font-size: 5em;
  color: #1a1a1a;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.7em;
  margin: 0;
  color: #1b1a21;
  font-weight: 500;
  margin-bottom: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.center-head {
  font-weight: 700;
  font-size: 1.8em;
  /* text-align: center; */
  color: #bababa;
  margin-top: 120px;
  letter-spacing: 2px;
  margin-bottom: -20px;
  text-transform: uppercase;
}

h3 {
  font-size: 2.1em;
  margin-top: 0px;
  font-style: italic;
  color: #1a1a1a;
  font-weight: 400;
}

p {
  font-size: 1.8em;
  color: #4c4a57;
  font-weight: 400;
  line-height: 35px;
}

.middlepara {
  margin-top: 0px;
}
a {
  font-size: 1.4em;
}

.none {
  text-decoration: underline;
}

.details {
  color: #83878e;
  font-weight: 400;
  margin-top: 0px;
}

.details-sub {
  color: #3c3c3c;
  font-weight: 400;
  margin-top: 0px;
}

.image-left {
  width: 400px;
  height: 180px;
}

.hero-text {
  text-align: center;
}

.hero-subtext {
  font-size: 2.2em;
  font-weight: 300;
  font-style: italic;
  color: #83878e;
}

.hero-img {
  width: 100%;
  height: auto;
}

.project-intro {
  display: flex;
  margin-top: 70px;
}

.project-logo {
  width: 40%;
}

.intro-img {
  /* background-color: grey; */
  width: 100%;
  max-width: 300px;
  height: auto;
}

.project-brief {
  width: 60%;
  padding-left: 60px;
}

.bg-dark {
  color: white;
  background-color: #282828;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeline-head {
  font-weight: 700;
  color: #1a1a1a;
}

.chart {
  width: 100%;
}

.chart2 {
  width: 100%;
  margin-bottom: 0px;
}

.chart3 {
  width: 100%;
  margin-top: -3px;
}

.section-image {
  /* display: flex; */
}

/* Gifs with description */

.project-section {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.left-project-gif {
  width: 50%;
}

.phone-gif {
  text-align: center;
  width: 60%;
  height: auto;
  margin-left: 100px;
}

.right-gif-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.gif-p {
  margin-top: -15px;
}

.two {
  text-align: center;
  width: 45%;
  height: auto;
  margin-left: 135px;
}

.project-gif-2 {
  margin-left: 60px;
  width: 239.5px;
  height: 432px;
}

ul {
  color: #83878e;
  font-size: 1.4em;
  font-weight: 300;
  margin: 10px 0;
}

li {
  margin: 10px 0;
}

.center-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

.more-work {
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: 60px;
}

.small-project {
  width: 30%;
  overflow: hidden;
  flex-direction: column;
}

.small-img {
  height: 60%;
  width: 100%;
}

.small-desc {
  height: 40%;
  width: auto;
}

.small-title {
  font-size: 2.2rem;
  color: #1a1a1a;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
}

.small-info {
  font-size: 1.5rem;
  color: #83878e;
  font-weight: 400;
  margin-top: 5px;
}
