body {
  /* background-color: #f5f6f7; */
  background-color: #fff;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.hero-inner {
  text-align: center;
}

/* Project cards */

.projects {
  /* background-color: #f5f6f7; */
  background-color: #fff;
}

.project {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding-left: 100px;
padding-right: 100px; */
  background-color: white;
  /* border: 1px solid #d2d2d2; */
  /* border-radius: 30px; */
  /* transition: box-shadow 0.5s; */
  display: flex;
  justify-content: space-between;
}

/* .project:hover {
  box-shadow: 0 0 20px #d6d6d6;
} */

.project-description {
  width: 40%;
}

.project-info {
  width: 32em;
  margin: 0 auto;
}

.project-img {
  width: 60%;
  text-align: center;
  margin-left: 60px;
}

.full-img {
  width: 100%;
}

h3 {
  font-size: 4rem;
  color: #3c3c3c;
  font-weight: 900;
}

p {
  font-size: 1.8rem;
  color: #828282;
  font-weight: 400;
}
