html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
  margin: 0;
  font-weight: 100;
  margin-bottom: 10px;
  color: #1a1a1a;
}

h2 {
  font-weight: 100;
  margin: 0;
  margin-left: 8px;
  color: #3b3b3b;
}

h3 {
  font-size: 2.6rem;
  color: #1a1a1a;
  font-weight: 700;

  margin-block-end: 0em;
}

p {
  font-size: 1.7rem;
  color: #3b3b3b;
  font-weight: 400;
  margin-top: 10px;
  flex-grow: 0.15;
}

/* Hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: 10px;
  height: 75vh;
}

.hero-inner {
  margin-left: 60px;
  flex-direction: column;
}

.hero-info {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.title {
  font-size: 36px;
  color: #a9a9a9;
}

/

/* Project cards */

.projects {
  /* background-color: #f5f6f7; */

  background-color: #fff;
  max-width: 1500px;

  position: relative;
}

.project {
  /* margin-left: 120px;
  margin-right: 120px;

  margin-bottom: 80px;
  padding-top: 20px;
  padding-bottom: 20px; */
  /* padding-left: 100px;
padding-right: 100px; */
  width: 65%;
  margin: auto;
  margin-top: 80px;
  /* border: 1px solid #d2d2d2; */
  /* border-radius: 30px; */
  /* transition: box-shadow 0.5s; */
}

/* .project:hover {
  box-shadow: 0 0 20px #d6d6d6;
} */

.project-description {
  width: 30%;
}

.project-info {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.project-img {
  /* width: 85%; */
  text-align: center;
}

.full-img {
  transition: transform 0.5s;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.full-img:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
}

.arrows {
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
}

@media screen and (max-width: 485px) {
  .wavetext {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .hero {
    margin-right: 0px;
    height: 75vh;
  }

  .hero-inner {
    margin-left: 15px;
  }
  .hero-info {
    padding-left: 0px;
  }
  .iconcolumn {
    width: 40%;
  }
  .hero-info {
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }
  .c-button--gooey {
    font-size: 1em;
  }

  .project {
    width: 100%;
  }

  .project-img {
    margin-left: 0px;
    width: 100%;
  }
  .project-description {
    width: 100%;
  }
  h3 {
    margin-top: 12px;
    font-size: 2.3rem;
  }
  p {
    font-size: 1.5rem;
  }
  .projects {
    margin-left: 16px;
    margin-right: 16px;
  }
}
