html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

h1 {
  font-size: 60px;
  margin: 0;
  margin-bottom: 10px;
  color: #1a1a1a;
}

h2 {
  font-size: 2.4em;
  font-weight: 400;
  margin: 0;
  margin-bottom: 45px;
  color: #3b3b3b;
  font-style: italic;
}

h3 {
  font-size: 2.6rem;
  color: #1a1a1a;
  font-weight: 700;
  margin-top: 115px;
  margin-block-end: 0em;
}

p {
  font-size: 1.5rem;
  color: #3b3b3b;
  font-weight: 400;
  margin-top: 10px;
  flex-grow: 0.15;
}

/* Hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: 10px;
  height: 75vh;
}

.hero-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}

.title {
  font-size: 1.5rem;
}

/* .icon:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.icon:hover:before, .icon:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background: #7FAFF7;
  border-radius: 15px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.icon:hover:after {
  background: #21D679;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
} */

/* Project cards */

.projects {
  /* background-color: #f5f6f7; */
  background-color: #fff;
  max-width: 1500px;
  margin: auto;
  position: relative;
}

.project {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding-left: 100px;
padding-right: 100px; */
  background-color: white;
  /* border: 1px solid #d2d2d2; */
  /* border-radius: 30px; */
  /* transition: box-shadow 0.5s; */
  display: flex;
  justify-content: space-between;
}

/* .project:hover {
  box-shadow: 0 0 20px #d6d6d6;
} */

.project-description {
  width: 30%;
}

.project-info {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.project-img {
  width: 70%;
  text-align: center;
  margin-left: 60px;
}

.full-img {
  transition: transform 0.5s;
  width: 95%;
  height: auto;
  border-radius: 10px;
}
.full-img:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
}

.arrows {
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
}

@media screen and (max-width: 485px) {
  .wavetext {
    font-size: 3.5rem;
  }
  .title {
    font-size: 1.5rem;
  }

  .hero {
    margin-right: 0px;
    height: 65vh;
  }
  .hero-info {
    padding-left: 0px;
  }
  .iconcolumn {
    display: none;
  }
  .hero-info {
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }
  .c-button--gooey {
    font-size: 1em;
  }

  .iconimg {
    width: 20px;
    height: 20px;
  }

  .project {
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column-reverse;
  }

  .project-img {
    margin-left: 0px;
    width: 100%;
  }
  .project-description {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
  h3 {
    margin-top: 12px;
  }

  .projects {
    margin-left: 25px;
    margin-right: 25px;
  }
}
