/* Box-sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .pages a {
  padding-left: 10px;
  padding-right: 10px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.hero-inner {
  text-align: center;
}

footer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  margin-left: 30px;
  margin-right: 30px;
}
