/* Box-sizing */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Global styles */
::selection {
  background: yellow;
}
a {
  text-decoration: none;
}

* {
  font-family: "rubik", sans-serif;
}

html {
  font-size: 12px;
}

/* Navbar */
.home {
  font-size: 1.4rem;
  color: #1a1a1a;

  margin-left: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

nav .pages a {
  font-size: 1.4rem;
  margin-left: 10px;
  margin-right: 75px;
}

/* Fancy navbar links */

nav .pages a {
  /* font-size: 26px; */
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #7faff7,
    #7faff7 50%,
    #1a1a1a 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}

nav .pages a:before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: -8px;
  z-index: 0;
  position: absolute;
  background: #7faff7;
  transition: all 0.3s ease-in-out;
}

nav .pages a:hover {
  background-position: 0%;
}

nav .pages a:hover:before {
  width: 100%;
}

/* Footer */

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
