/* .horz {
  width: 700px;
  height: 550px;
  border-style: solid;
} */

.the-lab {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 90px;
}

.text {
  text-align: center;
  font-size: 5.2rem;
  font-weight: bold;
  margin-bottom: 0px;
}

p {
  text-align: center;
  font-weight: 300;
  margin-top: 0px;
  font-size: 2.5rem;
}

.footerp {
  font-size: 1.4em;
  color: #3b3b3b;
  font-weight: 400;
  line-height: 30px;
  margin-top: 7px;
}
.anime {
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.anime2 {
  height: 425px;
  width: 425px;
  border-radius: 8px;
}

.rows {
  margin-top: 60px;
}

.frame {
  /* border: 3px solid black; */
  width: 30%;
}

.row {
  /* display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 30px;
  margin-bottom: 30px; */
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.row2 {
  /* display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 30px;
  margin-bottom: 30px; */
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  margin-bottom: 60px;
  margin-right: 150px;
}
