.text {
  top: 50%;
  left: 0px;
  width: 100%;
  span {
    color: #000;
    transition: 0.3s;
    text-shadow: 0px 0px 0px #ff5e2b;
    position: relative;
    top: 0px;
    left: 0px;
    cursor: default;
    &:hover {
      text-shadow: -8px 8px 0px #fff;
      transition: 0.3s;
      top: -8px;
      left: 8px;
    }
    &.space {
      width: 20px;
      height: 100%;
    }
  }
}
