html, body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.verses {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35vh;
  left: 50vw;
  text-align: center;
  font-size: 2rem;
  word-break: keep-all;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  background-color: white;
  color: black;
  text-transform: uppercase;
}
.container {
  text-align: center;
}
h1 {
  margin-left: 30px;
  margin-bottom: 50px;
}
.button {
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}
.button-3 {
  border: 5px solid white;
  border-color: gray;
  background-color: white;
  border-radius: 20px;
  color: black;
  transition: .3s;
}
.button-3:hover {
  box-shadow: 8px 8px #99bdff;
  transition: .3s;
}
