<footer class="mx-6 md:mx-18 text-white mt-30">
  <div class="flex flex-col lg:flex-row md:justify-between space-y-16">
    <div class="flex flex-col space-y-6">
      <p class="font-bold uppercase m-0">Got a project?</p>
      <p class="text-2xl md:text-4xl font-bold pl-4 border-l-2 border-orange m-0">{{ site.email }}</p>
    </div>
    <div class="flex flex-col space-y-8">
      <p class="font-bold uppercase m-0">Let's connect</p>
      <div class="flex space-x-12">
        <a href="https://www.linkedin.com/in/brandonjkaplan/" title="LinkedIn">
          <img class="h-6 w-auto" src="/assets/images/icons/linkedin.svg">
        </a>
        <a href="https://dribbble.com/brandonkap" title="Dribbble">
          <img class="h-6 w-auto" src="/assets/images/icons/dribbble.svg">
        </a>
        <a href="https://twitter.com/krandonbaplan" title="Twitter">
          <img class="h-6 w-auto" src="/assets/images/icons/twitter.svg">
        </a>
      </div>
    </div>
  </div>
  <div class="flex justify-start gap-x-12 mt-24 mb-8">
    <p class="m-0">© {{ "now" | date: "%Y" }} Brandon Kaplan</p>
    <p class="m-0"><a href="#modal-credits" data-micromodal-trigger="modal-credits">Credits</a></p>
  </div>
</footer>
