<div id="modal-credits" aria-hidden="true" class="modal">
  <div tabindex="-1" data-micromodal-close>
    <div role="dialog" aria-modal="true" aria-labelledby="modal-credits-title" >
      <header class="flex justify-between">
        <h2 id="modal-credits-title">Credits</h2>
        <button aria-label="Close modal" data-micromodal-close class="text-white">🗙</button>
      </header>
      <div id="modal-credits-content">
        <p>Thank you to my brother <a href="https://jdkaplan.dev">Jeremy</a> for helping me develop this website from scratch. Coudln’t have done it without ya!<p>
        <p>Developed by <a href="https://jdkaplan.dev">Jeremy Kaplan</a></p>
        <p>Designed by <a href="https://designbk.com">Brandon Kaplan</a></p>
        </a></div>
    </div>
  </div>
</div>
