<div id="modal-credits" aria-hidden="true" class="modal blur">
  <div tabindex="-1" data-micromodal-close class="flex flex-col items-center justify-center h-full blur">
    <div role="dialog" aria-modal="true" aria-labelledby="modal-credits-title" class="mx-4 md:mx-auto max-w-prose p-8 border-2 rounded-xl bg-black">
      <header class="flex justify-between mb-8">
        <h2 id="modal-credits-title" class="my-0">Credits</h2>
        <button aria-label="Close modal" data-micromodal-close class="text-white relative right-0">
          <img src="{{ '/assets/images/icons/cross.svg' | relative_url }}">
        </button>
      </header>
      <div id="modal-credits-content" class="md:mr-24">
        <p>Thank you to my brother <a href="https://jdkaplan.dev" target="_blank" rel="noopener noreferrer">Jeremy</a> for helping me develop this website from scratch. Couldn't have done it without ya!<p>
        <div class="mt-8">
          <p>Developed by <a href="https://jdkaplan.dev" target="_blank" rel="noopener noreferrer">Jeremy Kaplan</a></p>
          <p>Designed by <a href="https://designbk.com">Brandon Kaplan</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
