---
layout: base
---

<main aria-label="Content">
  <div class="grid grid-cols-12 auto-rows-auto gap-x-4 mx-18 mt-24 mb-30">
    <h1 class="col-start-4 col-span-6 text-5.5xl font-medium">{{ page.title }}</h1>
    <p class="col-start-4 col-span-6 text-2xl font-medium">{{ page.description }}</p>
  </div>
  <img
    src="{{ page.hero | escape }}"
    alt="{{ page.title }}"
    class="w-full"
  >
  <div class="grid grid-cols-12 auto-rows-auto gap-x-4 mx-18 case-study-content">
    {{ content }}
  </div>
</main>
